@import "~bootstrap/scss/bootstrap";
$background-color: #212E47;
$font-color: #CFDCF5;


// ---- APP ---- //

.App {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: $font-color;
  padding: 1.5rem .25rem;
}

// ---- HEADER BAR ---- //

.header-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex: 2 2 auto;
}

// ---- MAIN ---- //

.main {
  display: flex;
  flex-direction: column;
  flex: 3 3 auto;
  padding-right: 20px;
  padding-left: 20px;
}

// ---- DATE CARD CONTAINER ---- //

.date-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly + safe;
}

// ---- DATE CARD ---- //

.date-card {
  font-size: calc(5px + 2vmin);
  border: solid 2px $font-color;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  flex: 1 1 auto;
}

// ---- CARD DETAILS ---- //

.card-details {
  font-size: calc(8px + 2vmin);
  border: solid 2px $font-color;
  border-radius: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .card-details {
    font-size: calc(8px + 2vmin);
    border: solid 2px $font-color;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    > p, h2 {
      margin: .5rem;
    }
  }
}

@media screen and (orientation: portrait) and (max-width: 599px) {
  font-size: calc(8px + 1vmin);
  border: solid 2px $font-color;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > p, h2 {
    margin: .25rem;
  }
}
