@import "~bootstrap/scss/bootstrap";

$font-blue: #017BFE;



// ---- APP ---- //

.App {
  background-color: #e5f2ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 1.5rem .25rem;
  h1, h2 {
    color: $font-blue;
  }
}

// ---- HEADER CONTAINER ---- //

.header-bar {
  color: $font-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

// ---- MAIN DATE CONTAINER ---- //

.date-container {
  display: flex;
  margin: 2.5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

// ---- CARD NAV ---- //

@media screen and (min-width: 600px) {
  .card-nav {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:$font-blue;
    font-size: calc(8px + 3vmin);
    font-weight: 600;
    border-top: solid 2px $font-blue;
    border-bottom: solid 2px $font-blue;
    margin: 10px 2.5px;
    > p, h2 span {
      color: $font-blue;
      margin: .5rem;
    }
    .filter-label {
      padding: 0 15px 0 10px;
    }
  }
}

@media screen and (orientation: portrait) and (max-width: 599px) {
  .card-nav {
    width: 60vw;
    min-width: 300px;
    color:$font-blue;
    font-size: calc(8px + 2vmin);
    border: solid 2px $font-blue;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > p, h2 span {
      color: $font-blue;
      margin: .25rem;
    }
    .filter-label {
      padding: 0 15px 0 10px;
    }
  }
}


.date-nav {
  display: flex;
  flex: 1 1 auto ;
  > div > div.show {
    max-height: 300px;
    overflow-y: scroll;
  }
}

#month-dropdown {

}

#statistic-dropdown {

}

.case-filter {
  display: flex;
}

.drop-down-choice {
  font-size: calc(14px + 1.5vmin);
}

.drop-down-month {
  font-size: calc(14px + 1.5vmin);
}


// ---- DATE CARDS ---- //

.date-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: calc(8px + 2vmin);
}

// ---- DATE CARD ---- //

.card {
  height: 25vmin;
  color: $font-blue;
  border-radius: 10px;
  margin: 10px;
  width: 35vmin;
  min-width: 300px;
  min-height: 200px;
  font-size: 18px;
  font-weight: bolder;
}

.card-header {
  > div {
    padding: 5px 0;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  > div {
    font-size: 18px;
    font-weight: bold;
  }
}
